* text=auto
*.css linguist-vendored
*.scss linguist-vendored
database/seeds/SancionesTableSeeder.php filter=lfs diff=lfs merge=lfs -text
database/seeds/PagosTableSeeder.php filter=lfs diff=lfs merge=lfs -text
