@font-face {
  font-family: "amatic";
  src: url("/fonts/Amatic_SC/AmaticSC-Regular.ttf");
}

@font-face {
  font-family: "amatic-bold";
  src: url("/fonts/Amatic_SC/AmaticSC-Bold.ttf");
}

@font-face {
  font-family: "special-elite";
  src: url("/fonts/Special_Elite/SpecialElite-Regular.ttf");
}

html {
    font-size: 62.5%;
}

:root {
    --color-dark : #313030;
    --color-light: #ffffff;
    --color-sun: #ffc300;
}


.input-solicitud {
  font-size: 11px;
}

.my-header {
  background: #ffc300;
}

.pg-btn-dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}
.pg-btn-dark:hover {
    color: var(--color-light);
}